@font-face {font-family: 'DINPro-Medium';font-weight:500;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), local('DINPro-Medium');}
@font-face {font-family: 'DINPro-Regular';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont2.woff") format("woff"), local('DINPro-Regular');}
